{{ define "layout" }}
	<!doctype html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<script src="https://unpkg.com/htmx.org@1.9.12"></script>
			<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

		</head>
			<body>
			<nav style="margin-bottom:16px;">
				<a href="/">Home</a> |
				<a href="/people">People</a>
			</nav>

			<main style="max-width:900px;margin:0 auto;padding:16px">
				{{ template "content" . }}
			</main>
		</body>
	</html>
{{ end }}
